@font-face {
    font-family: 'AmsiPro';
    src: url('../fonts/AmsiPro-Ultra.eot');
    src: url('../fonts/AmsiPro-Ultra.eot?') format('embedded-opentype'),
         url('../fonts/AmsiPro-Ultra.woff') format('woff'),
         url('../fonts/AmsiPro-Ultra.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
