body {
  background-color: #fff;
  min-width: 600px;
  padding: 20px;
}
h1 {
  font-family: 'Amsi Pro Ultra';
}
h3 {
  font-family: 'Amsi Pro'
}
.splash {
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 60%;
}
